{
    "api_key": "{{ cta_api_key }}",
    "stop_id": "59",
    "route_id": "126",
    "s3_bucket": "pw-bus-time-predictions",
    "aws": {
        "region_name": "us-east-1",
        "aws_access_key_id": "{{ aws_access_key_id }}",
        "aws_secret_access_key": "{{ aws_secret_access_key }}"
    },
    "led_pins": {
        "red": 5,
        "yellow": 6,
        "green": 13
    },
    "arrival_thresholds": {
        "yellow": {
            "min": 10,
            "max": 12
        },
        "green": {
            "min": 5,
            "max": 7
        }
    }
}
