Parameters:
    S3BucketName:
        Type: String
Resources:
    PwBusTimePredictionsBucket:
        Type: "AWS::S3::Bucket"
        Properties:
            BucketName: !Ref S3BucketName
    PwBusTimePredictionLoggingUser:
        Type: "AWS::IAM::User"
        Properties:
            UserName: "PwBusTimePredictionS3Logging"
            Policies:
                - PolicyName: "PwBusTimeWriteToPredictionsS3Bucket"
                  PolicyDocument:
                      Version: "2012-10-17"
                      Statement:
                          - Effect: Allow
                            Action:
                                - "s3:PutObject"
                            Resource:
                                - !Join ["/", [!GetAtt PwBusTimePredictionsBucket.Arn, "*"]]
    PwBusTimePredictionLoggingAccessKey:
        Type: "AWS::IAM::AccessKey"
        Properties:
            UserName: !Ref PwBusTimePredictionLoggingUser
Outputs:
    AccessKey:
        Value: !Ref PwBusTimePredictionLoggingAccessKey
    SecretKey:
        Value: !GetAtt PwBusTimePredictionLoggingAccessKey.SecretAccessKey
